__pycache__/
*.py[cod]
*$py.class

.venv
.cache
.mypy_cache
.pytest_cache
.ipynb_checkpoints
.ruff_cache
.gitignore

build
/profiles/
/output/
/cache/
/error_logs/
/task_results/

local_storage.json
db.sqlite3
