__pycache__/
*.py[cod]
*$py.class

.env*
!.env.example
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
logs.txt

build
/profiles/
/output/
/cache/
/error_logs/
/task_results/

local_storage.json
db.sqlite3

**/.DS_Store
task_results/
extensions

*.log
*.json
/frontend/

